<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="rum-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Rum
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="rum-link">
                <a href="{% url 'products' %}?category=rum" class="dropdown-item">All Rum</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="plantains-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Plantains
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="plantains-link">
                <a href="{% url 'products' %}?category=green_plantains" class="dropdown-item">Green Plantains</a>
                <a href="{% url 'products' %}?category=yellow_plantains" class="dropdown-item">Yellow Plantains</a>
                <a href="{% url 'products' %}?category=brown_plantains" class="dropdown-item">Brown Plantains</a>
                <a href="{% url 'products' %}?category=green_plantains,yellow_plantains,brown_plantains" class="dropdown-item">All Plantains</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="merch-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Merch
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="merch-link">
                <a href="{% url 'products' %}?category=merch" class="dropdown-item">All Merch</a>
            </div>
        </li>
    </ul>
</div>