{% extends "account/base.html" %}
{% load i18n %}

{% block inner_content %}
<h2 class="logo-font mb-4">{% trans "Confirm Email Address" %}</h2>
<hr>
{% if confirmation %}
    <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an email address for user {{ user }}.{% endblocktrans %}</p>
    <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-black rounded-0">{% trans 'Confirm' %}</button>
    </form>
{% else %}
    <p>{% trans "This email confirmation link expired or is invalid. Please issue a new email confirmation request." %}</p>
{% endif %}
<a href="{% url 'home' %}" class="btn btn-outline-black rounded-0 mt-3">Home</a>
{% endblock %}